<div class="card card-xxl-stretch mb-5 mb-xl-8" style="margin-top: 60px;">
    <div class="card-header border-0 pt-5">
        <h3 >
            <span >Historial de Servicios</span>
        </h3>
    </div>
</div>
<div class="card card-xxl-stretch mb-5 mb-xl-8">
    <div class="card-body" *ngIf="Servicios.length >= 0">
        <!--Tabla del log--> 
        <div style="margin: 30px;" class="table-responsive" >
            <table datatable [dtOptions]="dtOptions" class="table  display wrap" style="width:80%; ">
                <thead >
                    <tr>
                     
                        <th class="w-95px" data-priority="2">BTG</th>
                        <th class="w-95px">Status</th>
                        <th class="w-95px" data-priority="1"></th>
                       <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let servicios of Servicios ">

                        <td>
                            <p class="mb-0">
                                <!--Tooltip-->
                                <a tabindex="0" class="btn btn-secundary" role="button" triggers="click"
                                   matTooltip="{{servicios.description}}" text="{{servicios.name}}">
                                </a>
                        </td>
                        <td> 
                            <div *ngIf="servicios.status=='Green'"><img  src="./assets/img/green.png" width="23px" height="23px" alt=" {{servicios.status}}"> {{servicios.status}}</div>
                            <div *ngIf="servicios.status=='Red'"><p class=""><img  src="./assets/img/red.png" width="23px" height="23px" alt=" {{servicios.status}}">{{servicios.status}}</p></div>
                            <div *ngIf="servicios.status=='Ambar'"><p class=""> <img  src="./assets/img/ambar.png" width="23px" height="23px" alt=" {{servicios.status}}"> {{servicios.status}}</p></div>
                        </td>
                        <td></td>
                        <td class="table table-hover " class="none">

<!--
                            <div class="timeline-label" *ngFor="let status of servicios.status">
                                <div *ngIf="status =='green' ">
                                    <div class="timeline-item ">
                                        <div class="timeline-label fw-bolder text-gray-800 fs-6" style="width: 10rem;">
                                            {{status}}</div>
                                        <div class="timeline-badge"><i style="color: green;"
                                                class=" bi-check-circle-fill"></i></div>
                                        <div class="fw-mormal timeline-content text-muted ps-3">{{status}}</div>
                                    </div>

                                </div>
                             

                             
                                <div *ngIf="status =='red'">
                                    <div class="timeline-item ">
                                        <div class="timeline-label fw-bolder text-gray-800 fs-6" style="width: 10rem;">
                                            {{status}}</div>
                                        <div class="timeline-badge"><i style="color: red;"
                                                class="bi-exclamation-triangle-fill"></i></div>
                                        <div class="fw-mormal timeline-content text-muted ps-3">{{status}}</div>
                                    </div>

                                </div>
                                <div *ngIf="status =='ambar'">
                                    <div class="timeline-item ">
                                        <div class="timeline-label fw-bolder text-gray-800 fs-6" style="width: 10rem;">
                                            {{status}}</div>
                                        <div class="timeline-badge"><i style="color: #E49E43;"
                                                class="bi-exclamation-octagon-fill"></i></div>
                                        <div class="fw-mormal timeline-content text-muted ps-3">{{status}}</div>
                                    </div>

                                </div>
                            </div>
                            -->
                        </td>

                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>