<div class="card card-xxl-stretch mb-5 mb-xl-8" style="margin-top: 60px;">
  <div class="card-header border-0 pt-5">
    <h3>
      <span>Historial de Servicios</span>
    </h3>
  </div>
</div>
<div class="card card-xxl-stretch mb-5 mb-xl-8">
  <div class="card-body" *ngIf="Servicios.length >= 0">
    <div class="accordion" id="accordionBTG">
      <div class="accordion-item" *ngFor="let servicio of Servicios; let i=index">
        <div class="accordion-header-container">
          <h2 class="accordion-header" id="btg">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i" aria-expanded="false"
              aria-controls="collapsebtg">
              {{servicio.name}} <div *ngIf="servicio.status=='Green'"></div>
              <div class="d-flex align-items-end position-absolute" style="right:50px; z-index:1000;">
                <div *ngIf="servicio.status=='Green'"><img src="./assets/img/green.png" width="23px" height="23px"
                    alt=" {{servicio.status}}"></div>
                <div *ngIf="servicio.status=='Red'"><img src="./assets/img/red.png" width="23px" height="23px"
                    alt=" {{servicio.status}}"></div>
                <div *ngIf="servicio.status=='Ambar'">
                  <p class=""> <img src="./assets/img/ambar.png" width="23px" height="23px" alt=" {{servicio.status}}">
                  </p>
                </div>
              </div>
            </button>
          </h2>

        </div>

        <div *ngFor="let servicestatuses of servicio.serviceStatuses;let is=index">
          <div [attr.id]="'collapseOne_' + i" class="accordion-collapse collapse" aria-labelledby="collapsebtg"
            data-bs-parent="#accordionBTG">
            <div class="accordion-body">
              <div class="accordion" id="accordionServices">
                <div class="accordion-item">
                  <div class="accordion-header-container">
                    <h2 class="accordion-header" id="services">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-parent]="'#accordion2_' + is" [attr.href]="'#collapseTwo_' + is"
                        aria-expanded="false" aria-controls="collapseservice">
                        {{servicestatuses.name}}
                        <div *ngIf="servicestatuses.status=='Green'"></div>
                        <div class="d-flex align-items-start position-absolute " style="right:50px; z-index:1000;">
                          <div *ngIf="servicestatuses.status=='Green'"><img src="./assets/img/green.png" width="23px"
                              height="23px" alt=" {{servicestatuses.status}}"></div>
                          <div *ngIf="servicestatuses.status=='Red'"> <img src="./assets/img/red.png" width="23px"
                              height="23px" alt=" {{servicestatuses.status}}"></div>
                          <div *ngIf="servicestatuses.status=='Ambar'">
                            <p class=""> <img src="./assets/img/ambar.png" width="23px" height="23px"
                                alt=" {{servicestatuses.status}}"> </p>
                          </div>
                        </div>
                      </button>
                    </h2>
                    <div [attr.id]="'collapseTwo_' + is" class="accordion-collapse collapse"
                      aria-labelledby="collapseservice" data-bs-parent="#accordionServices">
                      <div class="accordion-body">
                        <strong>Hola, soy Time-Line</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>